@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{

    @keyframes gradientAnimation {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
    }
      
    .gradient-animation {
        height: 35px;
        width: 65px;
        border-radius: 999px;
        background: linear-gradient(45deg, #2C2C2C, #1C1C1C, #7E7E7E, #3E3E3E);
        background-size: 400% 400%;
        animation: gradientAnimation 3s ease infinite;
    }

    ::-moz-selection { /* Code for Firefox */
        color: #E4E4E4;
        background: #000;
    }
      
    ::selection {
        color: #E4E4E4;
        background: #000;
    }

    .dc-container{
        max-width: 1240px;
        width: 100%;
        margin: 0 auto;
    }

    .title-responsive{
        font-size: clamp(0px, 9vw, 125px);
    }

    .title-responsive2{
        font-size: clamp(0px, 20vw, 250px);
    }

    .animation-effect{
        transition: all 300ms ease-out;
    }

    .card1{
        border: 1px solid #3E3E3E;
        border-radius: 10px;
        height: 300px;
        padding: 32px;
        width: 100%;
    }

    .button-arrow{
        flex-shrink: 0;
        padding: 5px;
        margin-left: 5px;
        border: 2px solid #3E3E3E;
        background-color: #FFFFFF50;
        border-radius: 100%;
        height: 30px;
        width: 30px;
    }

    @keyframes slide {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(-100%);
        }
    }
    
    .logos {
        overflow: hidden;
        padding: 60px 0;
        white-space: nowrap;
        position: relative;
    }
    
    .logos:before,
    .logos:after {
        position: absolute;
        top: 0;
        width: 150px;
        height: 100%;
        content: "";
        z-index: 2;
    }
    
    .logos:before {
        left: 0;
    }
    
    .logos:after {
        right: 0;
    }
    
    .logos:hover .logos-slide {
        animation-play-state: paused;
    }
    
    .logos-slide {
        display: inline-flex;
        width: max-content;
        animation: 35s slide infinite linear;
    }
    
    .logos-inner {
        margin: 0 10px;
    }

}


@layer utilities {
    @variants responsive {
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
    }
  }